.contact-form form {
  background-color: #1c2143;
  text-align: left;
  border-radius: 10px;
  max-width: 600px;
  padding: 10px;
}

.contact-form label {
  min-width: 130px;
  text-align: left;
  padding-top: 10px;
  padding-left: 20px;
  color: white;
  margin-top: 10px;
}

.contact-form input {
  display: flex;
  align-items: flex-end;
  outline: none;
  min-width: 320px;
  border: none;
  padding: 10px;
  margin-left: 20px;
  border-bottom: 1px solid white;
  background-color: #fafafa;
  border-radius: 5px;
}

.contact-form textarea {
  display: flex;
  align-items: flex-end;
  overflow: auto;
  outline: none;
  resize: none;
  background-color: white;
  padding: 10px;
  margin-left: 20px;
  border-radius: 5px;
  border: none;
}

.contact-form button {
  font-family: 'Bebas Neue', cursive;
  background-color: #f3cd74;
  width: 100px;
  font-size: 1em;
  margin-left: 20px;
  margin-bottom: 20px;
}
