.project-card {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  color: #1c2143;
  background-color: #f3f3f3;
}

.project-card h3 {
  padding-bottom: 10px;
  color: #1c2143;
  font-family: 'Jost', sans-serif;
  font-size: 2rem;
}

button {
  font-family: 'Bebas Neue', cursive;
  background-color: #f3cd74;
  width: 100px;
  padding: 5px;
  border-radius: 5px;
  font-weight: bold;
  font-size: 1.75rem;
  cursor: pointer;
  margin: 2px;
  border: none;
  transition: background 0.5s ease-in-out;
}

button:hover {
  background: #f3c24f;
}
