.project-card {
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 10px;
  color: white;
  background-color: #1c2143;
}

.project-card h3 {
  padding-bottom: 10px;
  color: white;
  font-family: 'Jost', sans-serif;
}

button {
  font-family: 'Bebas Neue', cursive;
  background-color: #f3cd74;
  width: 100px;
  padding: 5px;
  border-radius: 5px;
  font-weight: bold;
  font-size: 1em;
  cursor: pointer;
  margin: 2px;
  border: none;
}
