.project-card {
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 10px;
  color: white;
  background-color: #1c2143;
}

.project-card h3 {
  padding-bottom: 10px;
  color: white;
  font-family: 'Jost', sans-serif;
}

button {
  background-color: #fcefa7;
  padding: 5px;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  margin: 2px;
}
