.blog {
  display: block;
  max-width: 600px;
  margin: 0 auto;
}

.blog h1 {
  text-align: center;
}

.blog h4 {
  font-family: 'Cutive Mono', monospace;
  text-align: center;
  color: #faf4d0;
}

#construction-emoji {
  font-size: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
}
