.blog {
  display: block;
  max-width: 600px;
  margin: 0 auto;
}

.blog h1 {
  color: #e1aa46;
  text-align: center;
}

.blog h4 {
  font-family: 'Merriweather Sans', sans-serif;
  text-align: center;
  color: #191919;
}

#construction-emoji {
  font-size: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
}
