.blog {
  display: block;
  margin: 20px;
  padding: 20px;
}

.blog h1 {
  color: #5dcad1;
  font-weight: normal;
  text-align: left;
  font-size: 4em;
  margin-top: 0;
}

.blog h4 {
  font-family: 'Jost', sans-serif;
  color: #191919;
}

#construction-emoji {
  font-size: 2em;
}
