.contact {
  display: block;
  margin: 20px;
  padding: 20px;
}

.contact h1 {
  color: #5dcad1;
  font-weight: normal;
  text-align: left;
  font-size: 4em;
  margin-top: 0;
}

@media screen and (max-width: 375px) {
  .contact {
    font-size: 0.75em;
    margin: 0 auto;
  }
}
