.project-display {
  display: block;
  margin: 0 auto;
  margin-top: 20px;
}

.project-display h1 {
  color: #e1aa46;
  text-align: center;
}

.cards {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-top: 40px;
}
