.project-display {
  display: block;
  margin: 20px;
  padding: 20px;
}

.project-display h1 {
  color: #5dcad1;
  font-weight: normal;
  text-align: left;
  font-size: 4em;
  margin-top: 0;
}

.cards {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-top: 40px;
}
