footer {
  font-size: 0.75em;
  margin-bottom: 0;
  margin-top: 10px;
  padding-top: 5px;
  text-align: center;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #171b35;
  box-shadow: 0px 0px 16px -4px rgba(0, 0, 0, 0.75);
}

footer p {
  margin-bottom: 0;
  margin-top: 0;
  padding-bottom: 10px;
  color: #f3edf9;
}

footer a {
  color: #f3edf9;
  opacity: 0.85;
  transition: all 0.2s ease-in;
}

footer a:hover {
  color: #fafafa;
  opacity: 1;
}

.social-icons {
  padding: 5px;
  font-size: 4rem;
  filter: drop-shadow(2px 4px 6px rgba(254, 254, 254, 0.35));
}
