.nav {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 5vw;
  margin-bottom: 10px;
  background-color: transparent;
}

.nav li {
  display: inline-flex;
  line-height: 0.25;
  margin: 2rem 0 0 0;
  padding: 0 1rem 0 1rem;
}

@media (min-width: calc(550px + 10vw)) {
  .nav {
    padding-left: calc((100vw - 550px - 0.5rem) / 2);
    padding-right: calc((100vw - 550px - 0.5rem) / 2);
  }
}

@media screen and (max-width: 400px) {
  .nav {
    display: block;
    margin-bottom: 5px;
    background-color: transparent;
    font-size: 0.75em;
  }
}

.styled-link {
  text-decoration: none;
  color: #1c2143;
  justify-content: right;
}

.styled-link:last-of-type {
  margin-right: 0;
}

.icon-link {
  font-family: 'Bebas Neue', cursive;
  text-decoration: none;
  margin-left: 0;
}

@media screen and (max-width: 360px) {
  .styled-link {
    margin: 1rem 0 0 0;
  }
}
