body {
  background-color: #eee;
  color: #191919;
  margin: 0;
  margin-bottom: 100px;
  min-height: 400px;
  clear: both;
}

h1,
h2,
h3,
h4 {
  color: #d88a83;
  font-family: 'Elsie', cursive;
}

p {
  font-family: 'Merriweather Sans', sans-serif;
}

a {
  font-family: 'Merriweather Sans', sans-serif;
  color: #e1aa46;
}

a:hover {
  font-weight: bold;
  color: #56432d;
}
