body {
  background-color: white;
  color: #191919;
  margin: 0;
  margin-bottom: 100px;
  min-height: 400px;
  clear: both;
}

h1,
h2,
h3,
h4 {
  color: #d88a83;
  font-family: 'Bebas Neue', cursive;
}

p {
  font-family: 'Jost', sans-serif;
}

a {
  font-family: 'Jost', sans-serif;
  color: #1c2143;
}

a:hover {
  color: #f3cd74;
}
